---
# Source: splunk-otel-collector/templates/configmap-cluster-receiver.yaml
apiVersion: v1
kind: ConfigMap
metadata:
  name: otel-contrib-collector-otel-k8s-cluster-receiver
  namespace: default
  labels:
    app.kubernetes.io/name: otel-collector
    app: otel-collector
data:
  relay: |
    exporters:
      otlphttp:
        auth:
          authenticator: headers_setter
        metrics_endpoint: ${SPLUNK_OTLP_METRIC_URL}
        traces_endpoint: ${SPLUNK_OTLP_TRACE_URL}
        logs_endpoint: ${SPLUNK_OTLP_LOG_URL}
      otlphttp/entities:
        auth:
          authenticator: headers_setter
        logs_endpoint: ${SPLUNK_INGEST_URL}/v3/event
      signalfx:
        access_token: ${SPLUNK_OBSERVABILITY_ACCESS_TOKEN}
        api_url: ${SPLUNK_API_URL}
        disable_default_translation_rules: true
        ingest_url: ${SPLUNK_INGEST_URL}
        timeout: 10s
    extensions:
      headers_setter:
        headers:
        - action: upsert
          default_value: ${SPLUNK_OBSERVABILITY_ACCESS_TOKEN}
          from_context: X-SF-TOKEN
          key: X-SF-TOKEN
      health_check:
        endpoint: 0.0.0.0:13134
    processors:
      attributes/drop_event_attrs:
        actions:
        - action: delete
          key: k8s.event.start_time
        - action: delete
          key: k8s.event.name
        - action: delete
          key: k8s.event.uid
      batch:
        send_batch_max_size: 32768
      memory_limiter:
        check_interval: 2s
        limit_mib: ${SPLUNK_MEMORY_TOTAL_MIB}
      resource:
        attributes:
        - action: insert
          key: metric_source
          value: kubernetes
        - action: upsert
          key: k8s.cluster.name
          value: ${K8S_CLUSTER_NAME}
      resource/add_collector_k8s:
        attributes:
        - action: insert
          key: k8s.node.name
          value: ${K8S_NODE_NAME}
        - action: insert
          key: k8s.pod.name
          value: ${K8S_POD_NAME}
        - action: insert
          key: k8s.pod.uid
          value: ${K8S_POD_UID}
        - action: insert
          key: k8s.namespace.name
          value: ${K8S_NAMESPACE}
      resource/add_environment:
        attributes:
        - action: insert
          key: deployment.environment
          value: ${DEPLOYMENT_ENVIRONMENT}
      resource/add_mode:
        attributes:
        - action: insert
          key: otelcol.service.mode
          value: clusterReceiver
      resource/k8s_cluster:
        attributes:
        - action: insert
          key: receiver
          value: k8scluster
      resourcedetection:
        detectors:
        - env
        - system
        override: true
        timeout: 15s
      transform/k8sevents:
        error_mode: ignore
        log_statements:
        - conditions:
          - resource.attributes["k8s.object.kind"] == "HorizontalPodAutoscaler"
          statements:
          - set(resource.attributes["k8s.hpa.name"], resource.attributes["k8s.object.name"])
          - set(resource.attributes["k8s.hpa.uid"], resource.attributes["k8s.object.uid"])
        - conditions:
          - resource.attributes["k8s.object.kind"] != "HorizontalPodAutoscaler"
          statements:
          - set(resource.attributes[Concat(["k8s", ConvertCase(resource.attributes["k8s.object.kind"],
            "lower"), "name"], ".")], resource.attributes["k8s.object.name"])
          - set(resource.attributes[Concat(["k8s", ConvertCase(resource.attributes["k8s.object.kind"],
            "lower"), "uid"], ".")], resource.attributes["k8s.object.uid"])
        - conditions:
          - resource.attributes["k8s.object.kind"] == "Pod" and IsMatch(resource.attributes["k8s.object.fieldpath"],
            "spec\\.containers.*")
          statements:
          - merge_maps(resource.cache, ExtractPatterns(resource.attributes["k8s.object.fieldpath"],
            "spec.containers\\{(?P<k8s_container_name>[^\\}]+)\\}"), "insert")
          - set(resource.attributes["k8s.container.name"], resource.cache["k8s_container_name"])
      transform/k8shpascaletargetref:
        error_mode: ignore
        metric_statements:
        - context: resource
          statements:
          - set(attributes["k8s.replicaset.name"], resource.attributes["k8s.hpa.scaletargetref.name"])
            where IsMatch(resource.attributes["k8s.hpa.scaletargetref.kind"], "ReplicaSet")
          - set(attributes["k8s.statefulset.name"], resource.attributes["k8s.hpa.scaletargetref.name"])
            where IsMatch(resource.attributes["k8s.hpa.scaletargetref.kind"], "StatefulSet")
          - set(attributes["k8s.deployment.name"], resource.attributes["k8s.hpa.scaletargetref.name"])
            where IsMatch(resource.attributes["k8s.hpa.scaletargetref.kind"], "Deployment")
    receivers:
      k8s_cluster:
        auth_type: serviceAccount
        metadata_exporters:
        - signalfx
        resource_attributes:
          k8s.container.status.last_terminated_reason:
            enabled: true
          k8s.hpa.scaletargetref.apiversion:
            enabled: true
          k8s.hpa.scaletargetref.kind:
            enabled: true
          k8s.hpa.scaletargetref.name:
            enabled: true
          k8s.kubelet.version:
            enabled: true
      k8s_events:
        auth_type: serviceAccount
      prometheus/k8s_cluster_receiver:
        config:
          scrape_configs:
          - job_name: otel-k8s-cluster-receiver
            metric_relabel_configs:
            - action: drop
              regex: promhttp_metric_handler_errors.*
              source_labels:
              - __name__
            - action: drop
              regex: otelcol_processor_batch_.*
              source_labels:
              - __name__
            scrape_interval: 10s
            static_configs:
            - targets:
              - localhost:8899
    service:
      extensions:
      - health_check
      - headers_setter
      pipelines:
        logs:
          exporters:
          - otlphttp
          processors:
          - memory_limiter
          - batch
          - attributes/drop_event_attrs
          - resourcedetection
          - resource
          - resource/add_environment
          - transform/k8sevents
          receivers:
          - k8s_events
        metrics:
          exporters:
          - signalfx
          - otlphttp
          processors:
          - memory_limiter
          - batch
          - transform/k8shpascaletargetref
          - resource
          - resource/k8s_cluster
          receivers:
          - k8s_cluster
        metrics/collector:
          exporters:
          - otlphttp
          processors:
          - memory_limiter
          - batch
          - resource/add_collector_k8s
          - resourcedetection
          - resource
          - resource/add_mode
          receivers:
          - prometheus/k8s_cluster_receiver
      telemetry:
        metrics:
          readers:
          - pull:
              exporter:
                prometheus:
                  host: localhost
                  port: 8899
                  without_scope_info: true
                  without_type_suffix: true
                  without_units: true
        resource:
          service.name: otel-k8s-cluster-receiver
