# Required
splunk_access_token = ""
splunk_api_token = ""
splunk_realm = ""

# Required if splunk_presetup is true, optional otherwise. See variables.tf and README.md
splunk_rum_token = ""

# Optional - Splunk Cloud
splunk_hec_url = ""
splunk_hec_token = ""
splunk_index = ""

# Optional
splunk_presetup = false
otel_demo = false
splunk_diab = false
tagging_workshop = false
pub_key = ""

# Advanced
wsversion = "5.78"
user_data_tpl = "userdata.yaml"
architecture = "amd64" # amd64 or arm64