# Required
swipe_id = ""
splunk_index = "splunk4rookies-workshop"

# Optional
splunk_presetup = false
otel_demo = false
splunk_diab = false
tagging_workshop = false
pub_key = ""

# Advanced
wsversion = "6.32"
user_data_tpl = "userdata.yaml"
architecture = "arm64" # amd64 or arm64