apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-loadgenerator
spec:
  selector:
    matchLabels:
      app: nginx-loadgenerator
  replicas: 1
  template:
    metadata:
      labels:
        app: nginx-loadgenerator
      annotations:
        sidecar.istio.io/rewriteAppHTTPProbers: "true"
    spec:
      tolerations:
      nodeSelector:
      terminationGracePeriodSeconds: 5
      restartPolicy: Always
      containers:
      - name: main
        ports:
        - containerPort: 8089
        image: quay.io/signalfuse/microservices-demo-loadgenerator:433c23881a
        env:
        - name: FRONTEND_ADDR
          value: "nginx:8082"
        - name: USERS
          value: "10"
        resources:
          requests:
            cpu: 300m
            memory: 256Mi
          limits:
            cpu: 500m
            memory: 512Mi
---
apiVersion: v1
kind: Service
metadata:
  name: nginx-loadgenerator
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-internal: 0.0.0.0/0
    service.beta.kubernetes.io/aws-load-balancer-healthcheck-interval: "5"
    service.beta.kubernetes.io/aws-load-balancer-healthcheck-timeout: "3"
    service.beta.kubernetes.io/aws-load-balancer-healthcheck-unhealthy-threshold: "2"
    external-dns.alpha.kubernetes.io/hostname: demo-load.
spec:
  type: LoadBalancer
  selector:
    app: nginx-loadgenerator
  ports:
  - name: http
    port: 8080
    targetPort: 8089
---