[bumpversion]
current_version = 4.79
commit = True
Tag = True
parse = v?(?P<major>\d+)\.(?P<minor>\d+)
serialize = {major}.{minor}
tag_message = "Version {new_version}"
message = Releasing v{new_version}

[bumpversion:file:VERSION]

[bumpversion:file:workshop/cloud-init/k3s.yaml]
search = WSVERSION={current_version}
replace = WSVERSION={new_version}

[bumpversion:file:workshop/aws/ec2/templates/userdata.yaml]
search = WSVERSION={current_version}
replace = WSVERSION={new_version}

[bumpversion:file:workshop/cloud-init/victorops.yaml]
search = WSVERSION={current_version}
replace = WSVERSION={new_version}
