[bumpversion]
currentversion = v1.3
commit = False
Tag = False
parse = v?(?P<major>\d+)\.(?P<minor>\d+)
serialize = {major}.{minor}
tag_message = "Version {new_version}"
message = Releasing v{new_version}

[bumpversion:file:VERSION]

[bumpversion:file:./docs/module3/prep.md]
search = WSVERSION={current_version}
replace = WSVERSION={new_version}
