.vscode
.DS_Store
/site
nohup.out
terraform.tfstate
terraform.tfstate.d/
terraform.tfstate.backup
.terraform.tfstate.lock.info
.terraform
secret.tfvars
.terraform.lock.hcl
tfplan*
/venv/
/public/
/site/
/node_modules/
package-lock.json
# Temporary lock file while building
.hugo_build.lock
/resources
!*/resources/
workshop/Lambda/Java/MobileShop/target/*
workshop/Lambda/Java/MobileShop/.classpath
workshop/Lambda/Java/MobileShop/.factorypath
workshop/Lambda/Java/MobileShop/.project
workshop/Lambda/Java/MobileShop/.settings/*
multipass/ubuntu-cloudinit.yml
