.vscode
.DS_Store
site
docs/nohup.out
nohup.out
.github
terraform/terraform.tfstate
terraform/terraform.tfstate.d/*
terraform/terraform.tfstate.backup
terraform/.terraform
terraform/secret.tfvars
terraform/terraform.tfvars

