/* needed because images have `max-width: 100%` in the theme */
img {
    height: auto;
    width: auto;
    border: 1px solid #9f9f9f;
}

img[src*="#shadow"] {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a.md-logo img {
    border: none;
}

.md-nav__link--active,
.md-nav__link:active {
    color: #E20082;
}

.md-nav__link:focus, .md-nav__link:hover {
    color: #E20082;
}

:root{
    --md-primary-fg-color: rgb(231, 12, 176);
}