mkdocs>=1.2.3
markdown>=3.3.6
mkdocs-git-revision-date-localized-plugin>=0.9.2
mkdocs-material>=8.0.2
mkdocs-minify-plugin>=0.5.0
pymdown-extensions>=9.1
Pygments>=2.10.0
bump2version>=1.0.1
mkdocs-static-i18n>=0.19
mike>=1.1.2
