bucket         = "REPLACE_WITH_TERRAFORM_STATE_BUCKET"
key            = "clus-ltrobs-2001/dev/terraform.tfstate"
region         = "us-east-2"
dynamodb_table = "REPLACE_WITH_TERRAFORM_LOCK_TABLE"
encrypt        = true
