---
title: 1.7 View test results
weight: 7
---

In the Scatterplot from the previous step, click on one of the dots to drill into the test run data. Preferably, select the most recent test run (farthest to the right).

![Drilldown](../../img/drilldown.png)
