# This file contains all the settings which are unique to each deployment and it
# should NOT be stored in a public source control system as it contains sensitive information
# If values commented out, you will be prompted for them at run time, this way you 
# can choose to store the information in here, or enter it at run time.

### AWS Variables###
#region = "<REGION>"

## ITSI Quantity ##
splunk_itsi_count = "2" # How many ITSI Instances to deploy - if left commented out you will be prompted for this value at run time

## VPC Settings ##
vpc_cidr_block          = "172.33.0.0/16"

## Auth Settings ##
key_name                = "<NAME>"
private_key_path        = "~/.ssh/id_rsa"
aws_access_key_id       = "<ACCESS_KEY_ID>>"
aws_secret_access_key   = "<SECRET_ACCESS_KEY>>"

### Splunk ITSI Variables ###
splunk_itsi_files_local_path  = "~/Downloads" # path where itsi files resides on your local machine | on Windows %USERPROFILE%\Downloads
splunk_itsi_license_filename  = "Splunk_ITSI_NFR_FY23_2H.xml" # this file should NOT be included in the repo, and should be located in the itsi_files_local_path location
workshop_name                 = "o11y" # will be added as a tag to AWS instances so you can identify which instances are associated to this deployment