/* here in this showcase we use our own modified chroma syntax highlightning style;
   if you want to use a predefined style instead:
   - remove `markup.highlight.noClasses` from your config.toml
   - set `markup.highlight.style` to a predefined style name in your config.toml
   - remove the following `@import` of the self-defined chroma stylesheet */

:root {
    --PRIMARY-color: #e20082;
    /* brand primary color */
    --SECONDARY-color: #e20082;
    /* brand secondary color */
    --ACCENT-color: #ff44ff;
    /* brand accent color, used for search highlights */

    --MAIN-TEXT-color: #e0e0e0;
    /* text color of content and h1 titles */
    --MAIN-LINK-HOVER-color: #e20082;
    --MAIN-LINK-HOVER-color: #66d9ef;
    /* hovered link color of content */
    --MAIN-BG-color: #202020;
    /* background color of content */
    --MAIN-TITLES-TEXT-color: #ffffff;
    /* text color of h2-h6 titles and transparent box titles */
    /*--MAIN-LINK-color: #e20082;*/
    --MAIN-LINK-color: #66d9ef;

    /* adjusted to relearn-dark chroma style */
    --CODE-BLOCK-color: #000000;
    /* fallback text color of block code; should be adjusted to your selected chroma style */
    --CODE-BLOCK-BG-color: #730606;
    /* fallback background color of block code; should be adjusted to your selected chroma style */
    --CODE-BLOCK-BORDER-color: #ffffff;
    /* color of block code border */

    --CODE-INLINE-color: #a6e22e;
    /* text color of inline code */
    --CODE-INLINE-BG-color: #2d2d2d;
    /* background color of inline code */
    --CODE-INLINE-BORDER-color: #464646;
    /* border color of inline code */

    --MERMAID-theme: dark;
    /* name of the default Mermaid theme for this variant, can be overridden in config.toml */
    --SWAGGER-theme: dark;
    /* name of the default Swagger theme for this variant, can be overridden in config.toml */

    --MENU-HOME-LINK-color: #ffffff;
    /* Color of the home button text */
    --MENU-HOME-LINK-HOVER-color: #e20082;
    /* Color of the hovered home button text */

    --MENU-HEADER-BG-color: #e20082;
    /* Background color of menu header */
    --MENU-HEADER-BORDER-color: #000000;
    /*Color of menu header border */

    --MENU-SEARCH-color: #ffffff;
    /* Color of search field text */
    --MENU-SEARCH-BG-color: #e20082;
    /* Search field background color (by default borders + icons) */
    --MENU-SEARCH-BORDER-color: #f9f9f9;
    /* Override search field border color */

    --MENU-SECTIONS-BG-color: #2b2b2b;
    /* background of the menu; this is NOT just a color value but can be a complete CSS background definition including gradients, etc. */
    --MENU-SECTIONS-LINK-color: #bababa;
    /* link color of menu topics */
    --MENU-SECTIONS-LINK-HOVER-color: #ffffff;
    /* hovered link color of menu topics */
    --MENU-SECTIONS-ACTIVE-BG-color: #323232;
    /* background color of the active menu section */
    --MENU-SECTION-ACTIVE-CATEGORY-color: #e20082;
    /* text color of the displayed menu topic */
    --MENU-SECTION-HR-color: #606060;
    /* separator color of menu footer */

    --MENU-VISITED-color: #e20082;
    /* icon color of visited menu topics if configured */

    --BOX-CAPTION-color: rgba(240, 240, 240, 1);
    /* text color of colored box titles */
    --BOX-BG-color: rgba(20, 20, 20, 1);
    /* background color of colored boxes */
    --BOX-TEXT-color: #e0e0e0;
    /* text color of colored box content */
}