langchain==1.3.11
langchain-openai==1.3.3
langgraph==1.2.8
python-dotenv>=1.2.2
flask>=3.1.3
requests>=2.34.2
splunk-opentelemetry==2.8.0
splunk-otel-instrumentation-langchain==0.1.7
splunk-otel-genai-emitters-splunk==0.1.7
splunk-otel-util-genai==0.1.9
opentelemetry-instrumentation-flask==0.59b0