langchain>=1.0.0
langchain-openai>=1.0.0
langgraph>=1.0.0
opentelemetry-api~=1.38.0.dev0
opentelemetry-distro~=0.59b0.dev0
opentelemetry-exporter-otlp-proto-grpc==1.38.0
pydantic>=2.6
python-dotenv>=1.0
pytest>=8.0
pydantic[email]
typing-extensions>=4.9
fastapi==0.121.1
uvicorn==0.38.0
gunicorn==23.0.0
requests==2.32.5
psycopg2-binary==2.9.11
simplejson==3.20.2
deepeval==3.7.0
splunk-otel-instrumentation-langchain==0.1.4
splunk-otel-genai-emitters-splunk==0.1.4
splunk-otel-util-genai==0.1.4
#splunk-otel-util-genai-evals==0.1.4
#splunk-otel-genai-evals-deepeval==0.1.4
