/*

Nothing defined here. The Hugo project that uses this theme can override theme variables by adding a file to:

assets/scss/_variables_project.scss

*/

$primary: #E20082;

$google_font_name: "Century Gothic";
$google_font_family: "Century+Gothic:300,300i,400,400i,700,700i";

$enable-gradients: false;
$enable-rounded: true;
$enable-shadows: false;

$link-color: #E20082;
