distribution: openshift
readinessProbe:
  initialDelaySeconds: 180
livenessProbe:
  initialDelaySeconds: 180
operator:
  enabled: false
operatorcrds:
  installed: false
gateway:
  enabled: false
# use existing RBAC resources created by the cluster-admin
rbac:
  create: false
# use existing ServiceAccount created by the cluster-admin
serviceAccount:
  create: false
  name: splunk-otel-collector
# use existing SCC created by the cluster-admin
securityContextConstraints:
  create: false
splunkObservability:
  profilingEnabled: true
clusterReceiver:
  enabled: false
# disable log collection to avoid duplicate logs
logsCollection:
  containers:
    enabled: false
agent:
  # Ensure hostNetwork is false
  hostNetwork: false
  # To explicitly remove hostPort from the OTLP receiver:
  ports:
    otlp:
      hostPort: null  # Setting this to null removes the hostPort binding
    otlp-http:
      hostPort: null
    zipkin:
      hostPort: null
    jaeger-thrift:
      hostPort: null
    jaeger-grpc:
      hostPort: null

  discovery:
    enabled: true
  resources:
    limits:
      cpu: 200m
      memory: 500Mi
  config:
    exporters:
      signalfx:
        send_otlp_histograms: true
    receivers:
      kubeletstats:
        insecure_skip_verify: true
