img {
    height: auto;
    width: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;
    background-color: #fff;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.zoom {
    transition: transform ease-in-out 0.5s;
    cursor: zoom-in;
}

.image-zoom-large {
    transform: scale(1.9);
    cursor: zoom-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.appstore {
    border: 0px;
    width: 200px;
}

a.md-logo img {
    border: 0px;
    padding: 0px;
    background-color: transparent;
}

strong.label-button, mark.critic {
    padding: 4px 6px;
    /*margin: 0px 2px 0px 2px;*/
    min-width: 88px;
    border-radius: 3px;
    text-align: center;
    /*text-transform: uppercase;*/
    text-decoration:none;
    border: none;
    outline: none;
    font-size: 0.85em;
    font-weight: 600;
    background-color: #333;
    color: #fff;
}

.label-button.splunk {
    background-color: #E20082;
}

.label-button.victorops {
    background-color: #0cb9a8;
}

.label-button.signalfx {
    background-color: #58a245;
}

.label-button.apm {
    background-color: #BF1942;
}

.label-button.devops {
    background-color: #0064b7;
}

.label-button.otel {
    background-color: #f5a800 ;
}

.label-button.observability {
    background-color: #4a0072;
}

.label-button.sfx-ui-button {
    background-color: #19855c;
}

.md-nav__link:focus,
.md-tabs__link--active,
.md-nav__item .md-nav__link--active,
.md-nav__link--active,
.md-nav__link:active {
    color: #E20082;
}

.md-nav__link:hover {
    font-weight: 700;
}

:root {
    --md-primary-fg-color: #E20082;
    --md-accent-fg-color: #E20082;
}