img {
    height: auto;
    width: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;
    background-color: #fff;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.zoom {
    transition: transform ease-in-out 0.5s;
    cursor: zoom-in;
}

.image-zoom-large {
    transform: scale(1.9);
    cursor: zoom-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.appstore {
    border: 0px;
    width: 200px;
}

a.md-logo img {
    border: 0px;
    padding: 0px;
    background-color: transparent;
}

.md-nav__link--active,
.md-nav__link:active {
    color: #E20082;
}

.md-nav__link:focus,
.md-nav__link:hover,
.md-tabs__link--active {
    color: #E20082;
}

:root {
    --md-primary-fg-color: #E20082;
    --md-accent-fg-color: #E20082;
}