SPLUNK_RUM_REALM=us1
SPLUNK_RUM_ACCESS_TOKEN=replace-with-your-rum-token
SPLUNK_RUM_APPLICATION_NAME=dxa-rum-workshop
SPLUNK_RUM_APP_VERSION=1.0.0
SPLUNK_RUM_ENVIRONMENT=workshop
SPLUNK_RUM_AGENT_VERSION=v3
DEMO_PORT=8088
