fastapi==0.115.6
uvicorn[standard]==0.34.0
requests==2.32.3
opentelemetry-distro==0.50b0
opentelemetry-exporter-otlp==1.29.0
opentelemetry-instrumentation-fastapi==0.50b0
opentelemetry-instrumentation-requests==0.50b0
opentelemetry-instrumentation-logging==0.50b0
