Flask==3.0.3
langchain==0.3.21
langchain-core==1.2.11
langchain-nvidia-ai-endpoints==0.3.19
langchain-openai==0.3.35
langchain-community==0.3.27
langchain-weaviate==0.0.5
weaviate-client==4.17.0
splunk-opentelemetry==2.8.0
splunk-otel-instrumentation-langchain==0.1.4
splunk-otel-util-genai==0.1.4