# Required if pre-setup is desired, optional otherwise. See variables.tf and README.md.
splunk_access_token = ""
splunk_rum_token = ""
splunk_realm = ""

# Optional
splunk_presetup = false
splunk_jdk = false
